.header {
  align-items: center;
  background-color: #0fa36b;
  color: white;
  display: flex;
  justify-content: space-around;
}

.header > button {
  background-color: inherit;
  border: none;
}

.header > h1 {
  max-width: 180px;
  text-align: center;
}
