.card-recipe-container {
  background-color: whitesmoke;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 5px;
  text-align: center;
  width: 37vw;
}

.card-recipe-container img {
  border-radius: 5px 5px 0 0;
  max-height: 6rem;
  width: 90%;
}
