*{
  margin: 0;
  padding: 0;
}

.headerContainer {
  align-items: center;
  background-color: rgba(234, 234, 234, 0.732);
  display: flex;
  justify-content: space-evenly;
  margin-left: -35px;
  width: 360px;
;}

.headerBtn {
  background: transparent;
  border: none;
}