.Card {
  display: flex;
  flex-direction: row;
  height: 410px;
  overflow-y: scroll;
  width: 599px;
}

.Imagem {
  max-height: 300px;
  max-width: 300px;
}

.fix {
  bottom: 0;
  position: fixed;
  right: 0%;
  top: 90%;
}

.invisible {
  bottom: 0;
  position: fixed;
  right: 0%;
  top: 90%;
  visibility: hidden;
}
