.recipe-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  width: 100vw;
}

.back-button {
  background-color: rgb(42, 157, 143, 0.75);
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 30px;
  margin: 5px 0 0 5px;
}

.back-button img {
  vertical-align: top;
}

.back-button:focus {
  outline: none;
}

.recipe-details-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}

.recipe-details-box img {
  margin: 3px 0 0 11px;
  width: 32px;
}

.recipe-details h2 {
  color: black;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
}

.recipe-details-informations .recipe-category {
  color: darkgray;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
}

.background-gray {
  background-color: #e9c46a;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 21px;
  font-weight: 400;
  margin: 10px;
  padding: 10px 5px;
}

.background-gray li {
  list-style-type: '- ';
}

.recipe-video {
  text-align: center;
}

.recipe-video iframe {
  border-radius: 10px;
}
