.categorieslist-container {
  background: rgb(239, 246, 239);
  display: grid;
  font-family: Ubuntu , sans-serif;
  grid-template-columns: repeat(auto-fill, 110px);
  justify-content: space-between;
  padding: 10px 20px;
}

.categorieslist-container button {
  background: rgb(47, 193, 140);
  border: none;
  border-radius: 10px;
  color: white;
  height: 30px;
  margin: 10px 0;
  width: 100px;
}
