.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-like-btn {
  height: 35px;
  padding: 3px;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
  right: 0;
}
