.done-recipes-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.done-recipes-buttons-container {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-around;
}

.done-recipes-buttons-container > button {
  background-color: #0fa36b;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 70px;
}

.done-recipe-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%) , 0 6px 20px 0 rgb(0 0 0 / 19%);
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: 15px;
}

.recipe-image {
  border-radius: 5px;
  height: 150px;
  width: 120px;
}

.share-btn-container {
  font-size: 10px;
  width: 40px;
}

.share-btn {
  height: 30px;
  max-width: 40px;
  padding: 1px;
}

.share-btn > img {
  width: 26px;
}

.done-recipe-text-container {
  padding: 5px;
  width: 170px;
}

.done-recipe-text-container > p {
  margin: 0;
}
