.searchbar-container {
  background: rgb(239,246,239);
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0;
}

.searchbar-search {
  display: flex;
  justify-content: space-between;
}

.searchbar-input-search {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(64, 64, 64);
  padding: 0 10px;
}

.searchbar-search img {
  width: 35px;
}

.searchbar-btn {
  background: none;
  border: none;
  padding: 0;
}

.searchbar-radios {
  display: flex;
  color: rgb(64, 64, 64);
  justify-content: space-between;
  margin-top: 10px;
}

.searchbar-radios label {
  margin: 0;
}

.searchbar-radios input {
  margin-right: 3px;
}
