.card {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 20px;
  position: relative;
  width: 90%;
}

.card .share {
  position: absolute;
  right: 15px;
  top: 10px;
}

.card .share > span {
  display: none;
}

.card .share.copiado > img {
  display: none;
}

.card .share.copiado > span {
  display: inline;
}

.section-img img {
  width: 5rem;
}

.tags {
  display: flex;
  flex-direction: row;
}

.tags p {
  padding: 3px;
}

