.card-done {
  border: 1px solid #6b6b6b;
  border-radius: 5px;
  display: flex;
  height: 20vh;
  justify-content: space-between;
  margin: 1em;
  width: 300px;
}

.card-done__image {
  border-radius: 5px 0 0 5px;
  height: 100%;
}

.card-done__name {
  margin: 0;
  padding: 0;
}

.card-done__buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
