.details__image {
  width: 100%;
}

.details__horizontal-container {
  display: flex;
  justify-content: space-between;
}

.details__button--start {
  bottom: 0;
  cursor: pointer;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 1;
}