.button-start-recipe {
  bottom: 0;
  position: fixed;
  text-decoration: none;
  width: 100%;
}

.recipe-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.recipe-title {
  text-align: center;
}

.instructions {
  margin: 15px;
  text-align: justify;
}

.carousel {
  width: 100%;
}

.loading-message {
  text-align: center;
}
