.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 1;
}

.main-header {
  align-items: center;
  background: #c4c4c4;
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.header-search {
  background-color: white;
  margin: 0 10px;
  width: 360px;
}

.search-text {
  margin: 5px 0;
  width: 340px;
}

.search-radio {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.search-input-radio {
  margin: 0 5px;
}

.profile-btn {
  border: none;
  flex-grow: 1;
  height: 30px;
  left: 15px;
  margin: 10px;
  top: 12px;
  width: 30px;
}

.page-title {
  color: black;
  display: flex;
  flex-grow: 2;
  font-family: Roboto , monospace;
  font-size: 25px;
  font-weight: 100;
  height: 35px;
  justify-content: center;
  line-height: 35px;
  width: 119px;
}

.search-btn {
  background-color: #c4c4c4;
  border: none;
}

.search-image {
  border: none;
  display: flex;
  flex-grow: 1;
  height: 30px;
  left: 317px;
  margin: 10px;
  top: 12px;
  width: 30px;
}
