.header-container {
  align-items: center;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-around;
}

.header-container > button {
  background-color: inherit;
  border: none;
}

.header-container > h1 {
  max-width: 180px;
  text-align: center;
}
