.header {
  align-content: flex-start;
  align-items: center;
  background: #c4c4c4;
  display: flex;
  flex-direction: row;
  height: 58px;
  justify-content: space-around;
  left: 0;
  top: 0;
  width: 360px;
}



.profile-btn {
  border: none;
  height: 30px;
  left: 15px;
  top: 12px;
  width: 30px;
}

.page-title {
  align-items: flex-end;
  color: black;
  display: flex;
  font-family: Roboto , monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  height: 35px;
  left: 123px;
  line-height: 35px;
  top: 12px;
  width: 119px;
}

.search-btn {
  border: none;
  height: 30px;
  left: 317px;
  top: 12px;
  width: 30px;
}

.buscar-receita {
  background: #FFFFFF;
  border: 1px solid #000000;
  bottom: 62.86%;
  box-sizing: border-box;
  height: 31px;
  left: 10px;
  position: absolute;
  top: 7.62%;
  width: 342px;
}

.btn-buscar {
  background: #c4c4c4;
  bottom: 5.71%;
  height: 25px;
  left: 10px;
  position: absolute;
  right: 73.61%;
  top: 74px;;
  width: 85px;
}
