@media screen  {
    
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

form {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

form input{
    margin-bottom: 15px;
}

form button {
    margin-top: 20px;
}