.container-profile {
  width: 20em;
  background-color: lavender;
  border-radius: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 0 2em 3em;
}

.profile-icon {
  padding: 3em 0;
  margin: 10px;
  width: 4em;
  height: 4em;
}

.email {
  font-size: 1.5em;
  text-transform: uppercase;
}

.recipe-buttons {
  align-items: center;
  border: solid 1px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1.5em 0.5em;
  width: 40%;
  height: 4em;
  transition-duration: 0.4s;
  text-transform: uppercase;
}

.recipe-buttons:hover {
  transition-duration: 0.5s;
  background-color: darkblue;
}

.leave-button {
  background-color: lavender;
  border: solid red 1px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 0.5em 2em;
  overflow: hidden;
  transition-duration: 0.5s;
  opacity: 0.6;
  text-transform: uppercase;
}

.leave-button:hover {
  background-image: linear-gradient(chocolate, red);
  color: white;
  opacity: 1;
}