.profile-btn {
  border-radius: 5px;
  font-size: 20px;
  margin: 15px;
  text-decoration: none;
  width: 200px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.profile-email {
  font-size: 25px;
}
