.container-card {
  align-items: center;
  background-color: #f4a261;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
  width: 150px;
}

.img-card {
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 150px;
}

.nameCard {
  align-items: center;
  display: flex;
  height: 100%;
}

.nameCard h4 {
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}

a:hover {
  text-decoration: none;
}
