.container-card {
  align-items: center;
  border-radius: 15px;
  border-style: outset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  width: 150px;

}

.img-card {
  border-radius: 15px;
  margin-bottom: 20px;
  width: 145px;
}

.nameCard {
  font-size: 20px;
  text-align: center;
}
