.Login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.Login .form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.Login .input {
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
}

.Login .button {
  background-color: #6ce34f;
  border: none;
  color: black;
  margin: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
}
