* {
  margin: 0;
}

.carousel {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 300%;
}

.carousel-wraper {
  margin: auto;
  margin-bottom: 200px;
  overflow-x: scroll;
  width: 350px;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.recipe-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.detail-image {
  border-radius: 10px;
}

.start-btn {
  background-color: rgb(21, 44, 177);
  border: none;
  bottom: 0;
  color: white;
  font-weight: 900;
  opacity: 0.9;
  padding: 15px 0;
  position: fixed;
  width: 300px;

}

.start-btn:hover {
  opacity: 1;
}

.share-btn, .favorite-btn {
  background: none;
  border: none;
  outline: none;
  transform: scale(1);
  transition: all 0.2s ease;
}

.share-btn:focus, .favorite-btn:focus {
  background: none;
  outline: none;
}

.share-btn:hover, .favorite-btn:hover {
  transform: scale(1.15);
}
