.container-header {
  align-items: center;
  background-color: rgb(184, 134, 8);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.title-header {
  font-size: 25px;
}

.btn-search-header {
  background-color: transparent;
  border: none;
}

.btn-search-header:focus {
  outline: transparent;
}

.btn-search-header.clicked {
  outline: none;
}
