.page-title { 
  display: flex;
  justify-content: space-between;
}

.email {
  display: flex;
  justify-content: center;
  font-size: 200%;
} 

.btn-profile {
  border-radius: 7%;
  padding: 2%;
  margin: 2%
}