.cardContainer { 
  margin: 10px 6px;
  width: 9rem;
}

.cardImg {
  height: 8rem;
}

@media screen and (min-width: 1000px) {
  .cardContainer { 
    margin: 20px;
    width: 20rem;
  }
  
  .cardImg {
    height: 18rem;
  }
}

