.Footer {
  align-items: center;
  background-color: #c4c4c4;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 5px;
  position: fixed;
  width: 100%;
}

.Footer h3 {
  margin: 0;
}

.Footer button {
  background-color: #c4c4c4;
  border: none;
}