.recommendation-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.recommended-box {
  background: white;
  border: solid 1px gray;
  flex: 0 0 auto;
  height: 160px;
  margin: 10px;
  width: 160px;
}

.recommended-box-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 160px;
}

.recommended-box-category {
  font-size: 15px;
  font-weight: 400;
  margin: 0 5px;
}

.recommended-box-name {
  font-size: 18px;
  font-weight: 400;
  margin: 0 5px;
}
