.explore-screen {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.explore-screen-header {
  align-items: center;
  background-color: #c4c4c4;
  display: flex;
  height: 58px;
}

.explore-screen-header-title {
  font-size: 30px;
  font-weight: 400;
  margin: 0 auto;
}

.explore-screen-header img {
  display: inline;
  left: 0;
  margin-left: 15px;
}

.explore-screen-button {
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  box-shadow: 0px 4px 4px lightgray;
  font-size: 32px;
  height: 82px;
  margin: 81px auto 0;
  transition: all 0.5s;
  width: 327px;
}

.explore-screen-button:hover {
  background-color: tomato;
  border: tomato;
  color: whitesmoke;
}

.explore-screen-button:focus {
  outline: none;
}
