.ingredient-step-container input:checked + label {
  text-decoration: line-through;
}

.beverage-image {
  border-radius: 50px;
  margin: auto;
  max-height: 200px;
  max-width: 200px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
}
