.explore-drink-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.explore-drink-buttons-container > a > button {
  background-color: rgb(0, 155, 82);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 45px;
  margin: 25px;
  width: 200px;
}
