.buttons-explore-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.buttons-explore-container a {
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  padding: 1.2rem;
  text-decoration: none;
  width: 85%;
}

.box-title-button {
  width: 60%;
}

.box-title-button button {
  background: transparent;
  border: none;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 0;
  text-align: left;
}

.subtitle {
  color: var(--gray-200);
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
}

.icon-btn {
  color: var(--orange-500);
  font-size: 3rem;
}

/* EXPLORE BY INGREDIENTS */
.wrapper-buttons-ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  margin-bottom: 5rem;
}

.wrapper-buttons-ingredients button {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  width: 30%;
}

/* EXPLORE BY AREA */
.select-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.select {
  appearance: none;
  background-color: var(--gray-100);
  background-image: url('../images/chevron-down.svg');
  background-position: 95% 10px;
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  width: 70%;
}
