.food-details-body {
  background-color: rgb(45, 106, 79);
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.food-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 35px;
  margin-top: 125px;
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

.food-details-image {
  height: 120px;
  margin: auto;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 360px;
}

.food-details-header {
  font-weight: 600;
  width: 75%;
}

.food-details-name {
  font-size: 1.8em;
  margin: 0;
}

.food-details-category {
  font-size: 1.2em;
  margin: 0;
}

.food-details-button-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 20%;
}

.food-details-button-container > button {
  background-color: rgb(45, 106, 79);
  border: none;
}

.food-details-start-button {
  bottom: 0;
  position: fixed;
}

.food-details-ingredients-container {
  margin: 20px auto;
  text-align: left;
  width: 90%;
}

/* retirar esse fontsize depois */
.food-details-ingredients-container > p {
  color: white;
  font-size: 0.8em;
}

/* retirar essa parte depois */
.food-details-instructions-container {
  height: 150px;
  overflow-y: auto;
}

.food-details-instructions {
  font-size: 1.1em;
  font-weight: 600;
  margin: auto;
  text-align: justify;
  width: 88%;
}

.food-details-recomentadion-container {
  display: flex;
  overflow-x: scroll;
}

.food-details-recommended-card {
  background-color: rgb(255, 252, 235);
  border-radius: 6px;
  box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.45);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  margin: 5px;
  width: 170px;
}

.food-details-recommended-card > img {
  border-radius: 6px 6px 0 0;
  height: 85px;
  object-fit: cover;
  width: 170px;
}
