.food-in-progress-ingredient-step-container input:checked + label {
  text-decoration: line-through;
}

.food-in-progress-ingredient-step-container > label {
  color: white;
  font-size: 1.1em;
  padding-left: 10px;
  text-transform: capitalize;
}

.food-in-progress-body {
  background-color: rgb(45, 106, 79);
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.food-in-progress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 125px;
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

.food-in-progress-image {
  height: 120px;
  margin: auto;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 360px;
}

.food-in-progress-header {
  font-weight: 600;
  width: 75%;
}

.food-in-progress-name {
  font-size: 1.8em;
  margin: 0;
}

.food-in-progress-category {
  font-size: 1.2em;
  margin: 0;
}

.food-in-progress-button-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 20%;
}

.food-in-progress-button-container > button {
  background-color: rgb(45, 106, 79);
  border: none;
}

.food-in-progress-ingredient-container {
  text-align: left;
  margin: 20px auto;
  width: 90%;
}

.food-in-progress-instructions {
  font-size: 1.1em;
  font-weight: 600;
  margin: auto;
  text-align: justify;
  width: 88%;
}

.food-in-progress-finaliza-btn {
  margin: auto;
}

.food-in-progress-finaliza-btn > button {
  width: 340px;
}
