.footer-wrapper {
  align-items: center;
  background-color: var(--orange-500);
  box-sizing: border-box;
  box-shadow: 0 -2px 3px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  width: 100%;
}

.footer-wrapper a {
  text-align: center;
  width: 33.33%;
}

.in-page {
  border-bottom: 3px solid white;
}

.out-page {
  opacity: 0.5;
}

.footer-wrapper img {
  height: 1.8rem;
}
