.header {
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.profile-img {
  filter: invert(58%) sepia(71%)
    saturate(566%) hue-rotate(320deg) brightness(101%) contrast(98%);
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}

.header h1 {
  color: var(--colorSuccess3);
  font-size: 1.5em;
  font-weight: 700;
}

.header button {
  background-color: rgb(250, 250, 250);
  border: none;
}

.search-img {
  filter: invert(58%) sepia(71%)
    saturate(566%) hue-rotate(320deg) brightness(101%) contrast(98%);
  height: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}
