.recommendedArea {
  margin-bottom: 30px;
}

.recommendedArea-listarea {
  overflow-x: hidden;
  width: 499px;
}

.recipes-listarea {
  overflow-x: hidden;
}

.recommendedArea-list {
  display: flex;
  flex-direction: row;
  transition: all ease 0.4s;
}

.item {
  cursor: pointer;
  display: inline-block;
}

.item img {
  transform: scale(0.9);
  transition: all ease 0.2s;
  width: 100%;
}

.item img:hover {
  transform: scale(1);
}

.recommendedArea-left, .recommendedArea-right {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 225px;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: absolute;
  width: 40px;
  z-index: 99;
}


.recommendedArea-left {
  left: 20%;
}

.recommendedArea-right {
  right: 20%;
}

.recipes-left, .recipes-right {
  position: absolute;
  width: 40px;
  height: 230px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.recipes-left:hover, .recipes-right:hover {
  opacity: 1;
}

.recipes-left {
  left: 0;
}

.recipes-right {
  right: 0;
}

@media (max-width: 600px)
{
  .recommendedArea-left {
    left: 0;
  }
  
  .recommendedArea-right {
    right: 0;
  }
}