.recommendedArea {
  margin-bottom: 30px;
}

.recommendedArea-listarea {
  overflow-x: hidden;
  width: 500px;
}
.recommendedArea-list {
  display: flex;
  flex-direction: row;
  transition: all ease 0.4s;
}
.item {
  display: inline-block;
  cursor: pointer;
}

.item img {
width: 100%;
transform: scale(0.9);
transition: all ease 0.2s;
}

.item img:hover {
transform: scale(1);
}

.recommendedArea-left,
.recommendedArea-right {
position: absolute;
width: 40px;
height: 225px;
background-color: rgba(0, 0, 0, 0.5);
z-index: 99;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
cursor: pointer;
}


.recommendedArea-left {
left: 0;
}

.recommendedArea-right {
right: 0;
}
.recommendedArea:hover .movieArea-left,
.recommendedArea:hover .movieArea-right {
opacity: 1;
}