.recommendedArea {
  margin-bottom: 30px;
}

.recommendedArea-listarea {
  overflow-x: hidden;
  width: 499px;
}

.recommendedArea-list {
  display: flex;
  flex-direction: row;
  transition: all ease 0.4s;
}

.item {
  cursor: pointer;
  display: inline-block;
}

.item img {
  transform: scale(0.9);
  transition: all ease 0.2s;
  width: 100%;
}

.item img:hover {
  transform: scale(1);
}

.recommendedArea-left, .recommendedArea-right {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 225px;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: absolute;
  width: 40px;
  z-index: 99;
}


.recommendedArea-left {
  left: 20%;
}

.recommendedArea-right {
  right: 20%;
}
