.wrapper-login {
  background: url('../images/bg-mobile.svg') no-repeat bottom;
  background-size: contain;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.wrapper-login img {
  height: 8rem;
  margin: 5rem 0 1.5rem 2rem;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.wrapper-login label {
  align-items: flex-start;
  color: var(--gray-300);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: capitalize;
  width: 70%;
}

.wrapper-login input {
  background-color: var(--gray-100);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}

.button-login {
  background-color: var(--orange-500);
  border: none;
  border-radius: 0.25rem;
  color: white;
  margin-top: 0.8rem;
  padding: 0.8rem;
  width: 30%;
}
