.main-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 2rem 1.2rem;
}

.main-wrapper a {
  text-decoration: none;
}

.main-wrapper button {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 2rem;
  padding: 0.8rem;
  position: relative;
  width: 100%;
}

.info-recipe-container {
  width: 100%;
}

.img-recipe {
  border-radius: 0.5rem;
}

.title-recipe {
  border-bottom: 2px solid var(--orange-500);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: left;
}

.instructions-recipe {
  height: 2rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  width: 9rem;
}

.icon-heart {
  bottom: 1rem;
  color: var(--orange-500);
  font-size: 1rem;
  position: absolute;
  right: 1rem;
}
