.wrapper-carousel {
  margin-bottom: 3rem;
}

.link {
  text-decoration: none;
}

.recomendation-card {
  align-items: center;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
  padding-bottom: 0.8rem;
}

.recomendation-card img {
  height: 8rem;
  width: 100%;
}

.recomendation-card h3 {
  color: var(--gray-300);
  padding-left: 1rem;
  text-align: left;
  width: 100%;
}

.recomendation-card p {
  align-self: flex-start;
  color: var(--gray-300);
  font-size: 1rem;
  margin: 0;
  padding-left: 0.5rem;
}

.preview-instruction, .category-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}
