.footer {
  align-items: center;
  background-color: #e76f51;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
}

.footer img {
  height: 34px;
}
