.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 40px;
}

.container-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px 10px;
}
