.container-recipesDone {
  display: flex;
  flex-direction: column;
}

.container-btns-recipesDone {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.btn-recipesDone {
  border-radius: 5px;
  width: 80px;
}
