.explore-container {
  background: rgb(239, 246, 239);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, sans-serif;
  height: 100vh;
}

.explore-links a {
  align-items: center;
  background: rgb(47, 193, 140);
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  margin: 20px;
  padding: 5px 10px;
}

.explore-links a:hover {
  background: rgb(50, 202, 146);
}

.ingredients-wrap {
  background: rgb(239,246,239);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 70px;
}

.ingredients-card-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 150px;
}

.ingredients-card-container img {
  background: rgb(47, 193, 140);
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.ingredients-card-container p {
  color: rgb(121,125,128);
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 10px;
}
