body {
  display: grid;
  grid-template-rows: 10vh 110vh 10vh;
}

#root {
  display: contents;
}

.headerContainer {
  grid-row: 1;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.cardContainer {
  grid-row: 2;
  box-sizing: border-box;
  z-index: 0;
}

.footerContainer {
  grid-row: 3;
  width: 100vw;
  background-color: white;
  z-index: 10;
  margin-top: 5vh;
}
