.app {
  display: grid;
  grid-template-rows: 10vh 120vh 10vh;
}

.headerContainer {
  grid-row: 1;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.cardContainer {
  box-sizing: border-box;
  grid-row: 2;
  z-index: 0;
}

.footerContainer {
  background-color: white;
  grid-row: 3;
  margin-top: 5vh;
  width: 100vw;
  z-index: 10;
}
