body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-switch {
  padding-left: 0;
}

.custom-control {
  padding: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.search-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(204, 203, 203);
  padding: 10px;
  font-size: 1.8em;
}
