$orange-primary: #ff5615 !default;
$orange-secondary: #ff6C34 !default;
$blue-primary: #3f3d56 !default;
$white: white;

$colors: () !default;
$colors: map-merge(
  (
    "orange-primary": $orange-primary,
    "blue-primary": $blue-primary,
    "white": $white,
  ),
  $colors
);
// Color personalised

// Create theme-color-personalised
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "orange-primary": $orange-primary,
    "orange-secondary": $orange-secondary,
    "blue-primary": $blue-primary,
    "white": $white,
  ),
  $theme-colors
);
@import "../../node_modules//bootstrap/scss/bootstrap";
